node_modules/
.next/
dist/
__pycache__/
.pytest_cache/
.venv/
.env
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.pnpm-store/
*.egg-info/
.turbo/
tsconfig.tsbuildinfo
